{
  "presets": [
  	["@babel/preset-env", {
      "targets": {
        "browsers": ["chrome >= 56", "safari >= 11"]
      }
    }]
  ],
	"comments": false,
	"plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
