{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"indent": ["warn", "tab"],
		"linebreak-style": ["error", "unix"],
		"semi": ["error", "always"],
		"no-console": ["error", { "allow": ["warn", "log"] }]
	},
	"globals": {
		"Vue": false,
		"__dirname": false,
		"window": false,
		"document": false,
		"setTimeout": false,
		"clearTimeout": false,
		"setInterval": false,
		"clearInterval": false,
		"Promise": false,
		"module": false,
		"console": false,
		"require": false,
		"STable": false
	}
}