<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>STable Demo</title>
	<!--
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-ui@2.4.8/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
	-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/inagora/STable@v1.0-rc1/dist/STable.full.min.css">
	<link rel="stylesheet" href="/resource/css/demo.css">
</head>
<body>
	<div id="doc">
		<div class="nav-panel">
			<h1 class="logo">STable<i>demo</i></h1>
			<nav class="nav">
				<a v-for="item of navList" @click="showDemo(item)" v-text="item[0]" :class="{'active':item[1]==conf.curDemo}"></a>
			</nav>
		</div>
		<div class="main-panel">
			<div class="playground" :class="['layout-'+conf.layout.split(':').join('-')]">
				<div id="app">
					<iframe data-src="/resource/html/playground.html"></iframe>
				</div>
				<div id="editorBox">
					<div class="editor-toolbar">
						<label>
							<span>编辑器布局</span>
							<select v-model="conf.layout">
								<option v-for="item of layoutList" :value="item" v-text="item"></option>
							</select>
						</label>
						<label class="toolbar-btn" @click="run">▶ Run</label>
						<label class="toolbar-btn" @click="activeEditor='js'" :class="{'active':activeEditor=='js'}">📝 Js</label>
						<label class="toolbar-btn" @click="activeEditor='css'" :class="{'active':activeEditor=='css'}">📝 Css</label>
						<label class="toolbar-btn" @click="activeEditor='html'" :class="{'active':activeEditor=='html'}">📝 Html</label>
						<label class="toolbar-btn" @click="clear">🚽 清除当前demo修改</label>
						<label class="toolbar-btn" @click="clearAll">🚽 清除所有demo修改</label>
					</div>
					<div id="editor">
						<iframe v-show="activeEditor=='js'" id="jsEditor" src="/resource/html/editor.html#type=js"></iframe>
						<iframe v-show="activeEditor=='css'" id="cssEditor" src="/resource/html/editor.html#type=css"></iframe>
						<iframe v-show="activeEditor=='html'" id="htmlEditor" src="/resource/html/editor.html#type=html"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	var navList = [
		['标准Demo','normal', 2],
		['瀑布流模式', 'waterfall', 1],
		['搜索', 'search', 1],
		['工具栏', 'toolbar', 1],
		['自定义显示内容', 'render', 1],
		['图表展示', 'chart', 1],
		['计算', 'fx', 1],
		['Dialog', 'dialog', 1],
		['SidePanel', 'SidePanel', 1],
	];
	</script>
	<!--
	<script src="//cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
	<script src="//cdn.jsdelivr.net/combine/npm/vue@2.5.17/dist/vue.min.js,npm/element-ui@2.4.8/lib/index.js"></script>
	<script src="/resource/module/STable/STable.min.js"></script>
	-->
	<script src="https://cdn.jsdelivr.net/gh/inagora/STable@v1.0-rc1/dist/STable.full.min.js"></script>
	<script src="/resource/js/demo.js"></script>
</body>
</html>