<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>STable Demo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/codemirror@5.41.0/lib/codemirror.css,npm/codemirror@5.41.0/theme/monokai.css">
	<link rel="stylesheet" href="/resource/module/STable/STable.full.min.css">
	<link rel="stylesheet" href="/resource/css/demo.css">
</head>
<body>
	<div id="doc">
		<div class="nav-panel">
			<h1 class="logo">STable<i>demo</i></h1>
			<nav class="nav">
				<a v-for="item of navList" :href="'?demo='+item[1]" v-text="item[0]" :class="{'active':item[1]==conf.curDemo}"></a>
			</nav>
		</div>
		<div class="main-panel">
			<div class="playground" :class="['layout-'+conf.layout.split(':').join('-')]">
				<div id="wdStableContainer"></div>
				<div id="editorBox">
					<div class="editor-toolbar">
						<label>
							<span>编辑器布局</span>
							<select v-model="conf.layout">
								<option v-for="item of layoutList" :value="item" v-text="item"></option>
							</select>
						</label>
						<label class="toolbar-btn" @click="run">▶ Run</label>
						<label class="toolbar-btn" @click="activeEditor='js'" :class="{'active':activeEditor=='js'}">📝 Js</label>
						<label class="toolbar-btn" @click="activeEditor='css'" :class="{'active':activeEditor=='css'}">📝 Css</label>
						<label class="toolbar-btn" @click="activeEditor='html'" :class="{'active':activeEditor=='html'}">📝 Html</label>
						<label class="toolbar-btn" @click="clear">🚽 清除当前demo修改</label>
						<label class="toolbar-btn" @click="clearAll">🚽 清除所有demo修改</label>
					</div>
					<div id="editor">
						<div class="editor-holder" v-show="activeEditor=='js'" id="jsEditor">
						</div>
						<div class="editor-holder" v-show="activeEditor=='css'" id="cssEditor">
						</div>
						<div class="editor-holder" v-show="activeEditor=='html'" id="htmlEditor">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	var navList = [
		['标准Demo','normal', 2],
		['瀑布流模式', 'waterfall', 1],
		['搜索', 'search', 1],
		['工具栏', 'toolbar', 1],
		['自定义显示内容', 'render', 1],
		['图表展示', 'chart', 1],
		['计算', 'fx', 1],
		['Dialog', 'dialog', 1],
		['SidePanel', 'SidePanel', 1],
	];
	</script>
	<script src="https://cdn.jsdelivr.net/combine/npm/codemirror@5.41.0/lib/codemirror.js,npm/codemirror@5.41.0/mode/javascript/javascript.js,npm/codemirror@5.41.0/mode/css/css.js,npm/codemirror@5.41.0/mode/xml/xml.js"></script>
	<script src="/resource/module/STable/STable.full.min.js"></script>
	<script>
/* global fetch CodeMirror  */
let storage = window.localStorage;
const CONFIG_KEY = 'STABLE_DEMO_CONFIG';
const DEMO_PREFIX = 'STABLE_DEMO_ITEM_';
const EDITOR_TYPE_KEY = 'STABLE_EDITOR_TYPE';
let demos = {};
new Vue({
	el: '#doc',
	data: {
		navList: window.navList,
		editor: {},
		layoutList: [
			'1:0', '3:1', '2:1', '1:1', '1:2', '1:3'
		],
		activeEditor: storage.getItem(EDITOR_TYPE_KEY)||'js',
		conf: {
			layout: '3:1',
			curDemo: '',
			demoVer: {}
		}
	},
	mounted() {
		let conf = storage.getItem(CONFIG_KEY);
		try {
			if (conf) {
				conf = JSON.parse(conf);
				let demoVer = conf.demoVer;
				this.navList.forEach(nav => {
					let key = nav[1];
					if (demoVer[key]) {
						if (demoVer[key] != nav[2]) {
							delete demoVer[key];
						}
					}
				});
				this.conf = conf;
			}
		} catch (e) {
			//e
		}
		let params = new window.URLSearchParams(window.location.search.substr(1));
		let demo = params.get('demo');
		if (demo && this.navList.filter(item => item[1] == demo).length > 0) {
			this.conf.curDemo = demo;
		} else {
			this.conf.curDemo = this.navList[0][1];
		}

		this.showDemo(['', this.conf.curDemo]);
	},
	watch: {
		conf: {
			handler(val) {
				storage.setItem(CONFIG_KEY, JSON.stringify(val));
			},
			deep: true
		},
		activeEditor() {
			storage.setItem(EDITOR_TYPE_KEY, this.activeEditor);
			setTimeout(()=>{
				this.changeEditor();
			}, 40);
		}
	},
	methods: {
		loadDemo() {
			let demo = this.conf.curDemo;
			let p;
			if (!this.conf.demoVer[demo]) {
				p = new Promise(resolve => {
					fetch('/demo/ajaxGetDemo/' + demo)
						.then(res => {
							return res.json();
						}).then(res=>{
							resolve(res);
							let ver = 0;
							for (let nav of this.navList) {
								if (nav[1] == demo) {
									ver = nav[2];
									break;
								}
							}

							this.$set(this.conf.demoVer, demo, ver);
							demos[demo] = res;
							storage.setItem(DEMO_PREFIX + demo, JSON.stringify(res));
						});
				});
			} else if (demos[demo]) {
				p = Promise.resolve(demos[demo]);
			} else {
				let res = JSON.parse(storage.getItem(DEMO_PREFIX + demo));
				demos[demo] = res;
				p = Promise.resolve(res);
			}
			return p;
		},
		showDemo(nav) {
			this.conf.curDemo = nav[1];
			this.loadDemo().then(res=>{
				this.changeEditor();
				let style = document.createElement('style');
				style.type = "text/css";
				style.appendChild(document.createTextNode(res.css));
				document.head.appendChild(style);
				let html = document.createElement('div');
				html.innerHTML = res.html;
				document.body.appendChild(html);
				
				let script = document.createElement('script');
				script.type = 'text/javascript';
				script.text = '(function(){'+res.js+'})()';
				document.body.appendChild(script);
				
			});
		},
		changeEditor() {
			let source = demos[this.conf.curDemo];
			if(!this.editor[this.activeEditor]) {
				let mode=  {js:'javascript', css:'css',html: 'xml'}[this.activeEditor];
				
				this.editor[this.activeEditor] = CodeMirror(document.getElementById(this.activeEditor+'Editor'), {
					mode,
					theme: "monokai",
					lineNumbers: true,
					indentWithTabs: true,
				});
			}
			this.editor[this.activeEditor].setValue(source[this.activeEditor]);
			let rect = document.querySelector('#editor').getBoundingClientRect();
			this.editor[this.activeEditor].setSize(rect.width,rect.height);
		},
		run() {
			let source = {};
			['js', 'css', 'html'].forEach(type => {
				source[type] = this.editor[type] ? this.editor[type].getValue() : demos[this.conf.curDemo][type];
			});
			storage.setItem(DEMO_PREFIX + this.conf.curDemo, JSON.stringify(source));
			
			demos[this.conf.curDemo] = source;
			window.location.reload();
		},
		clear() {
			if (confirm('确认要清除对这个demo的修改，加载原始的demo')) {
				let demo = this.conf.curDemo;
				delete this.conf.demoVer[demo];
				this.conf.demoVer = Object.assign({}, this.conf.demoVer);
				storage.removeItem(DEMO_PREFIX + demo);
				window.location.reload();
			}
		},
		clearAll() {
			if (confirm('确认要清除对所有demo的修改，加载原始的demo')) {
				this.conf.demoVer = {};
				window.location.reload();
			}
		}
	}
});
	</script>
</body>
</html>