<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>editor</title>
	<style>
		html,body{margin:0;padding:0;height:100%;}
		body .CodeMirror{
			height: 100%;
		}
	</style>
	<link rel="stylesheet" href="/resource/module/codemirror/codemirror.css">
	<link rel="stylesheet" href="/resource/module/codemirror/monokai.css">
</head>
<body>
<script src="/resource/module/codemirror/codemirror.js"></script>
<script src="/resource/module/codemirror/javascript.js"></script>
<script src="/resource/module/codemirror/css.js"></script>
<script src="/resource/module/codemirror/xml.js"></script>
<script src="/resource/js/editor.js"></script>
</body>
</html>