{% extends "web/views/base.njk" %}
{% block head_res %}
<link rel="stylesheet" href="/resource/module/STable-v4.1/STable.min.css">
{% endblock %}
{% block main %}
<div id="app"></div>
{% endblock %}
{% block page_res %}
<script src="/resource/module/STable-v4.1/STable.min.js"></script>
<script>
	let brandList = [
				{
					"value": "1019",
					"text": "BIORE 碧柔"
				},
				{
					"value": "1026",
					"text": "CANMAKE 井田"
				},
				{
					"value": "1036",
					"text": "CPB 肌肤之钥"
				},
				{
					"value": "1048",
					"text": "FANCL 芳珂"
				},
				{
					"value": "1061",
					"text": "HAKUBAKU 黄金大地"
				},
				{
					"value": "1076",
					"text": "KANEBO 嘉娜宝"
				},
				{
					"value": "1078",
					"text": "KAO 花王"
				},
				{
					"value": "1086",
					"text": "KOBAYASHI 小林制药"
				},
				{
					"value": "1090",
					"text": "KOSE 高丝"
				},
				{
					"value": "1094",
					"text": "LION 狮王"
				},
				{
					"value": "1101",
					"text": "MANDOM 曼丹"
				},
				{
					"value": "1111",
					"text": "MORINAGA 森永制果"
				},
				{
					"value": "1131",
					"text": "ORBIS 奥蜜思"
				},
				{
					"value": "1136",
					"text": "PIGEON 贝亲"
				},
				{
					"value": "1146",
					"text": "SANA 莎娜"
				},
				{
					"value": "1151",
					"text": "Simplisse"
				},
				{
					"value": "1153",
					"text": "SK-II"
				},
				{
					"value": "1158",
					"text": "SPC"
				},
				{
					"value": "1165",
					"text": "THERMOS 膳魔师"
				},
				{
					"value": "1166",
					"text": "TIGER 虎牌"
				},
				{
					"value": "1185",
					"text": "KRACIE 肌美精"
				},
				{
					"value": "1199",
					"text": "POLA 宝丽"
				},
				{
					"value": "1229",
					"text": "KISS ME 奇士美"
				},
				{
					"value": "1260",
					"text": "KIKUMASAMUNE 菊正宗"
				},
				{
					"value": "1273",
					"text": "BCL"
				},
				{
					"value": "1274",
					"text": "SPA TREATMENT"
				},
				{
					"value": "1299",
					"text": "SUQQU"
				},
				{
					"value": "1309",
					"text": "QUALITY 皇后秘密"
				},
				{
					"value": "1353",
					"text": "COSME DECORTE 黛珂"
				},
				{
					"value": "1375",
					"text": "ITOEN 伊藤园"
				},
				{
					"value": "1408",
					"text": "HACCI 花绮"
				},
				{
					"value": "1595",
					"text": "PILOT 百乐"
				},
				{
					"value": "1623",
					"text": "LOSHI"
				},
				{
					"value": "1652",
					"text": "BOTANIST"
				},
				{
					"value": "1706",
					"text": "TENGA"
				},
				{
					"value": "1795",
					"text": "P&G 宝洁"
				},
				{
					"value": "1873",
					"text": "MILBON 玫丽盼"
				},
				{
					"value": "1885",
					"text": "LoFt"
				},
				{
					"value": "1923",
					"text": "AFLOAT"
				},
				{
					"value": "1959",
					"text": "CEZANNE 倩丽"
				},
				{
					"value": "2310",
					"text": "Saborino"
				}
			];

	STable.init({
		title: '我的表格',
		el: '#app',
		url: '/ajaxWaterfall',
		addUrl: '/ajaxAdd',
		downloadable: true,
		pageMode: 'waterfall',
		pageIndex: 'goods_id',
		toolbar:[
			{
				text:'设置',
				icon: 'cog'
			},{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			},
			{
				text:'设置',
				icon: 'cog'
			}, {
				text: '重置所有',
				click: function(){
					console.log('abc')
				}
			}
		],
		columns: [
			{
				text: 'goods_id',
				dataIndex: 'goods_id',
				width: 200,
				locked: true
			},
			{
				text: '商品名-商品名-商品名-商品名-商品名-商品名-商品名-商品名',
				dataIndex: 'goods_name',
				width: 300,
				cellWrap: true,
				sortable: true,
				locked: true
			},
			{
				text: '价格',
				dataIndex: 'final_price',
				width: 200,
				sortable: true
			},{
				text: 's'
			},
			
			{
				text: '价格',
				dataIndex: 'final_price',
				width: 200,
				sortable: true
			},{
				text: 's'
			},
			{
				text: '价格',
				dataIndex: 'final_price',
				width: 200,
				sortable: true
			},{
				text: 's'
			},
			{
				text: '商品名-商品名-商品名-商品名-商品名-商品名-商品名-商品名',
				dataIndex: 'goods_name',
				width: 200,
				cellWrap: true,
				sortable: true
			},
			{
				text: '价格',
				dataIndex: 'final_price',
				width: 200,
				sortable: true
			},{
				text: 's'
			}
		],
		searchFilter: [
			{	//开始搜索配置
				label: '商品名',			//搜索表单字段的名字
				name: 'goods_name',	//搜索表单字段请求时的key
				placeholder: '支持模糊搜索',	//未填写时的提示文案
				// required: true
			},{
				label: '最低价格',
				name: 'price',
				type: 'number',	//只能填写数字，非数字字符不请允许输入
			}, {
				label: '创建日期-date',
				name: 'date',
				type: 'date',	//选择日期
				// readonly: true
			},{
				label: '最早时刻',
				name: 'time',
				type: 'time'	//选择时间
			},{
				label: '最早时间',
				name: 'ctime',
				type: 'datetime'	//选择日期和时间
			},{
				label: '品牌',
				name: 'brand_id',
				list: brandList	//带搜索的下拉选择，只能选一个
			},{
				label: '品牌',
				name: 'brand_ids',
				type: 'multiple',	//带搜索的下拉选择，可以多选
				list: brandList	
			},{
				label: 'url加载品牌',
				name: 'brand_id2',
				asyncList: '/ajaxBrandList'
			}, {
				label: 'promise加载品牌',
				name: 'brand_id3',
				asyncList: function() {
					return new Promise(resolve => {
						setTimeout(()=>{
							resolve([{"value":"1019","text":"BIORE 碧柔"},{"value":"1026","text":"CANMAKE 井田"},{"value":"1036","text":"CPB 肌肤之钥"},{"value":"1048","text":"FANCL 芳珂"},{"value":"1061","text":"HAKUBAKU 黄金大地"}])
						}, 3000);
					});
				}
			}
		],
		metaEditConf: [
			{
				name: 'page_name',
				label: '页面名称',
				required: true
			}, {
				name: 'page_type',
				label: '所属分类',
				type: "combobox",
				list: [{
					"value": "217",
					"text": "个护化妆"
				}, {
					"value": "220",
					"text": "　┗ 基础护肤"
				}, {
					"value": "426",
					"text": "　　┗ 面膜"
				}, {
					"value": "423",
					"text": "　　┗ 面部清洁"
				}, {
					"value": "422",
					"text": "　　┗ 化妆水"
				}, {
					"value": "428",
					"text": "　　┗ 乳液"
				}, {
					"value": "427",
					"text": "　　┗ 面霜"
				}, {
					"value": "424",
					"text": "　　┗ 面部精华"
				}]
			},{
				name: 'ptime',
				label: '发布显示时间',
				type: 'datetime',
			},{
				name: 'share_img',
				label: '分享logo',
				type: 'file',
				value: 'abc',
				uploadConfig: {
					url: '/ajaxUpload',
					isImage: true,
					formData: {
						bucket: 'inagora-public'
					}
				}
			}, {
				name: 'banner',
				label: 'banner',
				type: 'file',
				uploadConfig: {
					url: '/ajaxUpload',
					isImage: true,
					formData: {
						bucket: 'inagora-public'
					},
					formatResult: function(res) {
						return res.data.url+'?'+(+new Date);
					},
				}
			}, {
				name: 'color',
				label: 'bar颜色',
			}
		]
	});
</script>
{% endblock %}