@import url(./Table.css);
.st-stable [class*=" fa-"],
.st-stable [class^=fa-] {
	font-size: inherit;
	font-family: FontAwesome !important;
}
.el-button [class*=fa-]+span {
	margin-left: 5px;
}
.st-stable{
	position: relative;
}
.st-fixed-stable{
	height: 100%;
	display: flex;
	flex-direction: column;
}